/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}


body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
    color:#333;
}

/* Navigation */
nav{
    position:fixed;
    top:0;
    width:100%;

    display:flex;
    justify-content:center;
    gap:30px;

    padding:20px;

    background:rgba(15,23,42,0.95);

    z-index:1000;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    transition:color 0.3s ease;
}

nav a:hover{
    color:#60a5fa;
}

/* Hero Section */
/* Hero Section */
header{
    min-height:100vh;

    background:white;

    display:flex;
    justify-content:center;
    align-items:center;
}

/* Hero Layout */
.hero-content{
    width:80%;

    display:flex;
    align-items:center;

    gap:80px;
}

/* Profile Image */
.hero-image img{
    width:300px;
    height:400px;

    object-fit:cover;

    border-radius:10px;
}

/* Hero Text */
.hero-text{
    color:#222;
}

.hero-text h1{
    font-size:5rem;
    margin-bottom:20px;
}

.hero-text p{
    font-size:1.2rem;
    margin-bottom:20px;
}

.subtitle{
    color:#666;
    letter-spacing:2px;
    font-weight:bold;
}

/* Button */
.btn{
    display:inline-block;

    background:#222;
    color:white;

    padding:15px 30px;

    border-radius:8px;

    text-decoration:none;

    transition:0.3s ease;
}

.btn:hover{
    background:#444;
    transform:translateY(-3px);
}

/* Sections */
section{
    max-width:1000px;
    margin:auto;
    padding:80px 40px;
}

/* Section Titles */
section h2{
    margin-bottom:20px;
    color:#1e3a8a;
}

/* Project Cards */
.project-card{
    background:white;

    padding:20px;
    margin:20px 0;

    border-radius:10px;

    box-shadow:
        0px 4px 8px rgba(0,0,0,0.2);

    transition:transform 0.3s ease;
}

.project-card:hover{
    transform:
        translateY(-5px)
        scale(1.03);
}

/* Lists */
ul{
    margin-left:25px;
}

/* Links */
a{
    color:#2563eb;
}
